.playlist {
  display: grid;
  grid-row-gap: 2rem;
  background-color: #fff;
  width: 100%;
  animation: easeup 0.5s var(--easing-smooth) forwards 0.2s;
  transform: translateY(40%);
  opacity: 0;
  padding-bottom: 1rem;

  &__tracks {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    grid-gap: 2rem;
  }

  &__track {
    height: 90px;
    background-size: cover;
    background-position: 0 10%;
    border-radius: 15px;
    cursor: pointer;

    display: grid;
    align-items: end;
    justify-items: start;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem;
  }

  &__title {
    color: #333333;
    font-size: 2.4rem;
  }
}

// ------------------------------
// animations
// ------------------------------
@keyframes easeup {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
